
flexbox-layout(main, cross, direction)
    display: flex
    justify-content: main
    align-items: cross
    flex-direction: direction


flexbox-row(main, cross)
    flexbox-layout(main, cross, row)
