
flexbox-layout(main, cross, direction)
    display: flex
    justify-content: main
    align-items: cross
    flex-direction: direction


flexbox-row(main, cross)
    flexbox-layout(main, cross, row)


.flexbox-row-space-center
    flexbox-row(space-between, center)


.flexbox-row-start-center
    flexbox-row(flex-start, center)
