
flexbox-layout(main, cross, direction)
    display: flex
    justify-content: main
    align-items: cross
    flex-direction: direction


flexbox-row(main, cross)
    flexbox-layout(main, cross, row)


.flexbox-row-space-center
    flexbox-row(space-between, center)


.flexbox-row-start-center
    flexbox-row(flex-start, center)


.flexbox-row-space-start
    flexbox-row(space-between, flex-start)


.flexbox-row-start-start
    flexbox-row(flex-start, flex-start)


.flexbox-row-space-end
    flexbox-row(space-between, flex-end)


.flexbox-row-start-end
    flexbox-row(flex-start, flex-end)


.flexbox-row-space-stretch
    flexbox-row(space-between, stretch)


.flexbox-row-start-stretch
    flexbox-row(flex-start, stretch)
